* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: belwe;
    src: url(/font/Belwe\ Medium.otf);
  }

body {
    background-color: black;
    background-image: url('https://cdn.mos.cms.futurecdn.net/NtowSHSt9QyN4KHaW8ELWk.jpg');
    /* background-size: cover; */
    background-position: 51% 10%;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: belwe;
    height: 100vh;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}

header h2 {
    text-shadow: 3px 3px black;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 3px 3px black;
    letter-spacing: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
}

#level-container {
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px black;
    letter-spacing: 2px;
}

#ready {
    padding: 10px 25px;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: lime;
    letter-spacing: 1px;
    cursor: pointer;
}

.start {
    margin-bottom: 50px;
    cursor: pointer;
    background-color: #001219;
    color: lime;
    font-size: 2em;
    text-shadow: 1.5px 1.5px black;
    border: none;
    font-size: 6em;
    transition: all .5s ease;
}

#start:hover {
    transform: scale(1.05);
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: #001219;
    border-radius: 50%;
    position: relative;
}

.instruction-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    background-color: #001219;
    border-radius: 50%;
    z-index: 10;
    margin-left: 10px;
}

.instruction-container > p {
    margin: 15px;
}

.btn.userSelect {
    background-color: firebrick;
}

.btn.selected {
    transform: scale(1.03);
    /* background-color: white; */
        box-shadow: 0px 0px 17px 17px white;
        border: white;
        /* filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5)); */
}

#start {
    margin-top: 50px;
}

.btn {
    cursor: pointer;
    border: 8px solid #001219;
    transition: all .2s ease;
    height: 250px;
    width: 250px;
    display: none;
    position: absolute;
}

.btn:hover {
    transform: scale(1.03);
}

.btn1 {
    top: 0;
    left: 0;
    /* background-color: #f72585; */
    background-color: #0a9396;
    border-top-left-radius: 100%;
}
.btn2 {
    top: 0;
    right: 0;
    /* background-color: #560bad; */
    background-color: #ee9b00;
    border-top-right-radius: 100%;
}
.btn3 {
    bottom: 0;
    left: 0;
    /* background-color: #3f37c9; */
    background-color: #ae2012;
    border-bottom-left-radius: 100%;
}
.btn4 {
    bottom: 0;
    right: 0;
    background-color: #4B3E5E;
    border-bottom-right-radius: 100%;
}
.btn.userSelect {
    background-color: white;
    box-shadow: 0px 0px 7px 7px white;
    border: white;
}



#inner-circle {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #001219;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-picker {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.card img {
    width: 90%;
    margin-bottom: 25px;
    cursor: pointer;
}

.card img:hover {
    transform: scale(1.02);
}

.added  {
    border: 2px gold solid;
    background-color: rgba(255,215, 0, 0.3);
    border-radius: 25px;
}

.deck-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    display: none;
    flex-wrap: wrap;
}

.deck-container img {
    max-width: 200px;
    height: 250px;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.winScreen {
    height: 50vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

#playAgain {
    background-color: transparent;
}

#win {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#win i {
    color: red;
    font-size: 1em;
}

#win .start {
    margin-bottom: 0;
}

footer {
    text-shadow: 1px 1px black;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

@media screen and (max-width:904px){
    .deck-container img {
        width: 150px;
        height: 200px;
    }
}

@media screen and (max-width:600px){
    .deck-container {
        flex-wrap: wrap;
    }
    .deck-container img {
        width: 150px;
        height: 200px;
    }
}

@media screen and (max-width:500px){
    h1 {
        font-size: 2rem;
    }
    .btn-container {
        width: 350px;
        height: 350px;
    }
    .btn {
        height: 180px;
        width: 180px;
    }
    #inner-circle  {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:450px){
    .deck-container img {
        width: 75px;
        height: 100px;
    }
}